body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #020202;
}

.game-container {
    position: relative;
    width: 80%; /* Ajusta según el tamaño deseado */
    max-width: 800px; /* Tamaño máximo del contenedor */
    height: 60vh; /* Ajusta según el diseño */
    max-height: 600px; /* Tamaño máximo */
    background: #e0e0e0;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Opcional */
}

.game {
    position: relative;
    width: 100%;
    height: 100%;
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la imagen ajustada al contenedor */
    object-position: bottom; /* Enfoca la parte inferior de la imagen */
}

.player {
    position: absolute;
    bottom: 10%; /* Ajusta según el diseño */
    left: 20%;
    width: 10%;
    height: auto;
    transition: transform 0.2s;
}

.obstacle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 35px solid orange;
    position: absolute;
    bottom: 0;
    animation: moveObstacle 3s linear infinite;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(193, 66, 66);
}

.restart-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}

/* Animación de los obstáculos */
@keyframes moveObstacle {
    0% {
        left: 100%;
    }
    100% {
        left: -10%;
    }
}
